---
layout: ""
page_title: "Provider: Environment"
description: |-
  The Environment provider maps Shell environment variables to Terraform Datasources.
---

# Environment Provider

The Environment provider exposes Shell environment variables as Terraform Datasources.

It supports filtering a list of variables or just a single one. You can also mark the result of the Datasource as `sensitive`

## Example Usage

{{tffile "examples/data-sources/environment_variables/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}